<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>

    <!-- Tile selector -->
    <div id="container" style="position:relative;">
      <canvas style="position:absolute; right:0; top:26px; z-index:2;" id="overlayCanvas">
      </canvas>
      <canvas style="position:absolute; right:0; top:26px; z-index:1;" id="tileSelectionCanvas">
      </canvas>
      <!-- Tileset selector -->
      <table style="float:right;">
        <tr>
          <td><button onclick="prevImage();">◀ Prev</button></td>
          <td><button onclick="nextImage();">Next ▶</button></td>
          <td><button onclick="fillWithTile();">Fill</button></td>
        <tr>
      </table>
    </div>

    <div class="CenterDiv MainContainer">
      <h1>{{level.name}}</h1>

      {% include "messages.html" %}

      <!-- Level settings form -->
      <!-- TODO -->
      <form action="" method="POST">
        <table>
          <tr>
            <th>Name</th>
            <th>Width</th>
            <th>Height</th>
            <th>Update</th>
          </tr>
          <tr>
            <td><input value="{{level.name}}" name="name" type="text"></td>
            <td><input value="{{level.width}}" name="width" type="text"></td>
            <td><input value="{{level.height}}" name="height" type="text"></td>
            <td><a href="">Update</a></td>
          </tr>
        </table>
        
      </form>

      <script>
        function drawFloorplan() {
          const floorplanImage = document.querySelector("#floorplanImage");
          const context = levelOverviewCanvas.getContext("2d");
          context.drawImage(floorplanImage, 0, 0);
        }
      </script>
      <img src="{{level.getFloorplanURL()}}" style="display:none" id="floorplanImage" onload="drawFloorplan();" />
      <img style="display:none" id="tilesetImage" onload="updateTileSelectionCanvas();"/>

      <!-- Level overview -->
      <center>
        <canvas style="border:1px solid black;" id="levelOverviewCanvas" width="{{level.width}}" height="{{level.height}}"></canvas>
      </center>

      <!-- Save Button -->
      <br>
      <form
        id="submitFloorplanForm"
        action="/games/{{game.ID}}/levels/{{level.ID}}/floorplan/save"
        method="POST",
        style="display:none;">
        <input id="dataURL" name="imgBase64" type="text">
      </form>
      <button onclick="saveFloorplanImage();">Save Floorplan</button>
      
    </div>

    <script src="/src/Keys.js"></script>
    <script src="/src/lib/jquery.min.js"></script>
    <script>
      "use strict";

      let selectionX = 0;
      let selectionY = 0;
      let tilesetIndex = 0;
      let tileSize = 32; // TODO: get this info from the Tileset
      // TODO: offsetx
      // TODO: offsety
      const tilesetImage = document.querySelector("#tilesetImage");
      const tileSelectionCanvas = document.querySelector("#tileSelectionCanvas");
      const levelOverviewCanvas = document.querySelector("#levelOverviewCanvas");
      const overlayCanvas = document.querySelector("#overlayCanvas");
      const container = document.querySelector("#container");
      const tilesetURLs = [];
      {% for tileset in tilesets %}
        tilesetURLs.push('{{tileset.getURL()}}');
      {% endfor %}

      function saveFloorplanImage() {
        /*
            Saves the floorplan image to the server
        */
        const dataURL = levelOverviewCanvas.toDataURL();
        const form = document.querySelector("#submitFloorplanForm");
        const data = document.querySelector("#dataURL");

        data.value = dataURL;
        form.submit();
      }

      function snapToGrid(value, gridSize) {
        /*
            Returns value snapped to a grid
        */
        return Math.floor(value / gridSize) * gridSize;
      }

      function drawTile(x, y) {
        /*
            Draws the selected tile at x, y
            If CTRL button is down, clears the tile
        */

        // Get tile location and ensure it is in bounds
        let dx = x !== null ? x : snapToGrid(mouseX - levelOverviewCanvas.offsetLeft, tileSize);
        let dy = y !== null ? y : snapToGrid(mouseY - levelOverviewCanvas.offsetTop, tileSize);
        if (dx < 0 || dy < 0
            || dx >= levelOverviewCanvas.width || dy >= levelOverviewCanvas.height) {
            return;
        }
        
        // Draw the tile on canvas
        const context = levelOverviewCanvas.getContext("2d");
        context.beginPath();
        if (keysDown[CTRL]) {
          context.clearRect(dx, dy, tileSize, tileSize);
        }
        else {
          context.drawImage(tileSelectionCanvas, selectionX, selectionY, tileSize,
          tileSize, dx, dy, tileSize, tileSize);
        }
        context.stroke();
      }

      function drawLoop(t) {
        requestAnimationFrame(drawLoop);

        if (!leftMouseButton) {
            return;
        }

        drawTile();
      }
      drawLoop();

      function drawSelection() {
        /*
            Draw a canvas overlay to show the selected tile
        */
        const context = overlayCanvas.getContext("2d");

        context.clearRect(0, 0, overlayCanvas.width, overlayCanvas.height);
        context.strokeStyle = "red";
        context.beginPath();
        context.rect(selectionX, selectionY, tileSize, tileSize);
        context.stroke();
      }

      function fillWithTile() {
        /*
            Fills the whole canvas with the selected tile
        */
        for (let i = 0; i < levelOverviewCanvas.width; i += tileSize) {
          for (let j = 0; j < levelOverviewCanvas.height; j += tileSize) {
            drawTile(i, j);
          }
        }
      }

      overlayCanvas.onclick = function setSelection(e) {
        /*
            Updates the selected tile
        */
        selectionX = snapToGrid(e.pageX - container.offsetLeft - this.offsetLeft, tileSize);
        selectionY = snapToGrid(e.pageY - container.offsetTop - this.offsetTop, tileSize);
        drawSelection();
      }

      function updateTileSelectionCanvas() {
        /*
            Resizes the tile selection canvas
        */
        const context = tileSelectionCanvas.getContext("2d");

        tileSelectionCanvas.width = tilesetImage.width;
        tileSelectionCanvas.height = tilesetImage.height;
        overlayCanvas.width = tileSelectionCanvas.width;
        overlayCanvas.height = tileSelectionCanvas.height;


        context.beginPath();
        context.drawImage(tilesetImage, 0, 0);
        context.stroke();
      }

      function updateImage() {
        /*
            Updates the displayed tileset image
        */
        if (tilesetURLs.length < 1) {
          return;
        }
        tilesetImage.src = tilesetURLs[tilesetIndex];
      }
      updateImage();

      function prevImage() {
        /*
            Selects the previous tileset image
        */
        tilesetIndex--;
        if (tilesetIndex < 0) {
          tilesetIndex = tilesetURLs.length - 1;
        }
        updateImage();
      }

      function nextImage() {
        /*
            Selects the next tileset image
        */
        tilesetIndex++;
        if (tilesetIndex > tilesetURLs.length - 1) {
          tilesetIndex = 0;
        }
        updateImage();
      }
    </script>
  </body>
</html>