<!DOCTYPE html>
<html>
    <head>
    </head>
    <body oncontextmenu="return false;">
        <!-- Toolbar -->

        <!-- Level -->
        <script src="/src/lib/jquery.min.js"></script>
        <script src="/src/lib/three.min.js"></script>
        <script src="/src/Keys.js"></script>
        <script src="/src/Prop.js"></script>
        <script src="/src/Player.js"></script>
        <script src="/src/Game.js"></script>
        <script src="/src/Level.js"></script>
        <script src="/src/ResourceManager.js"></script>
        <script src="/src/GameStateManager.js"></script>
        <script src="/src/CameraController.js"></script>
        <script>
            "use strict";

            // Constants
            var VIEWPORT_WIDTH = 640;
            var VIEWPORT_HEIGHT = 480;
            var FRAME_RATE = 60;
            var FOV = 75;
            var SERVER_URL = "http://127.0.0.1:5000"

            var renderer = new THREE.WebGLRenderer( { alpha: false } );
            renderer.setSize(VIEWPORT_WIDTH,VIEWPORT_HEIGHT);
            document.body.appendChild(renderer.domElement);

            var camera = new THREE.PerspectiveCamera(
                FOV, VIEWPORT_WIDTH / VIEWPORT_HEIGHT, 0.1, 1000
            );
            var cameraController = new CameraController(camera);
            cameraController.setPosition(0, 50, 5);

            var resources = {
                'floorplan':'/{{level.getFloorplanURL()}}'
            }
            var level = new Level({
                requiredResources: resources,
                renderer: renderer
            });
            level.addToScene(cameraController.getObject());

            var stateManager = new GameStateManager();

            // Main game loop
            function render() {
                cameraController.update();

                requestAnimationFrame(render);
                level.render();
            }


        </script>
    </body>
</html>