body {
    margin-top: 0px;
    margin-bottom: 0px;

    background-color: #000;
}

button {
    border: none;
    background-color: #AAA;
    min-width: 100px;
    box-shadow: 0px 2px 5px #000;
    border-radius: 0px;
}

button:hover {
    background-color: #DDD;
    box-shadow: 0px 5px 5px #000;
}

button:active {
    
}

canvas {
    display: block;
    margin: auto;
}

h1 {
    padding-left: 10px;
    margin-top: 10px;
    color: #FFF;
    background-color: #000;
}

p {
    font-family: sans-serif;
}

a:visited {
    color: #000;
}

table {
    margin: auto;
    border: 0px;
    margin-bottom: 32px;
}

table tr {
    padding: 0px;
}

table th {
    width: 128px;
    text-align: center;
    border: 0px;
}

table td {
    width: 128px;
    text-align: center;
    background-color: #777;
    font-family: sans-serif;
    box-shadow: 5px 5px 5px #000;
    padding: 0px;
    border: 0px;
}

table td:hover {
    background-color: #AAA;
}

table td a {
    color: #000;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0px;
}

table td a:hover {
    color: #DDD;
}

.BigButton {
    background-color: #333;
    color: #FFF;
    box-shadow: none;

    font-family: sans-serif;
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 64px;

    margin: 20px;
    margin-left: 0px;
    margin-bottom: 0px;

    min-width: 64px;
    width: 64px;
    height: 64px;
    cursor: pointer;   
}

.BigButton:focus {
    outline: none;
}

.SmallSquare {
    min-width: 32px;
    width: 32px;
    height: 32px;
    line-height: 32px;;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    float: left;
}

.BigButton:hover {
    background-color: #AAA;
}

.CenterDiv {
    margin: auto;
    padding: 20px;
}

.CenterH {
    width: 100%;
    text-align: center;
}

.Clickable {
    cursor: pointer;
}

.ContextMenu {
    position: relative;
    display: none;
}

.FlexAlignLeft {
    margin-right: auto;
}

.FlexAlignRight {
    margin-left: auto;
}

.FlexContainer {
    display: flex;
}

.InvisibleLink {
    text-decoration: none;
}

.MainContainer {
    min-width: 500px;
    max-width: 1000px;
    min-height: 100vh;
    
    background-color: #888;

    padding-top: 0px;
    overflow-x: hidden;
}

.PreviewThumbnail {
    width: 128px;
    height: 128px;
    overflow: hidden;
    display: inline-block;
}

.Tab {
    display: inline-block;
    background-color: #AAA;
    padding-left: 10px;
    margin-right: 0px;
    margin-left: 0px;
    min-width: 150px;
    box-shadow: 5px 5px 5px #000;
}

.Toolbar {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
    background-color: #777;
    display: flex;
}

.ToolbarTitle {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    font-size: 32px;
    font-weight: bold;
}

.ToolbarItem {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.ToggleButton {
    margin-left: auto;
}

.ToggleList {
    list-style: none;
    border-left: 2px solid black;
    padding-left: 16px;
    margin-left: 20px;
    margin-top: 0px;
    padding-top: 10px;
}

.ToggleListButton {
    min-width: 20px;
    width: 20px;
    height: 100%
    font-weight: bold;
    box-shadow: none;
}

.ToggleListButton:hover {
    box-shadow: none;
}

.ToggleListTitle {
    background-color: #333;
    color: #FFF;
    width: 256px;
    display: flex;
    margin-bottom: 0px;
    font-family: sans-serif;
}

.ToggleListTitle p {
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.ActiveTab {
    background-color: #DDD;
}