<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css">
  </head>

  <body>
    <div class="CenterDiv MainContainer">
      <h1 class="CenterH">{{game.title}}</h1>

      {% include "messages.html" %}

      <script>
        function confirmDeletion(title) {
          return confirm("Are you sure you want to delete " + title + "?");
        }

        function selectPropFile() {
          document.querySelector('#propFile').click();
        }

        function uploadPropFile() {
          document.querySelector('#propForm').submit();
        }

        function selectTilesetFile(e) {
          document.querySelector('#tilesetFile').click();
        }

        function uploadTilesetFile() {
          document.querySelector('#tilesetForm').submit();
        }

        function showContextMenu(e) {
          const menu = document.querySelector('#contextMenu');
          menu.style.display = 'block';
          return false;
        }
        //window.oncontextmenu = showContextMenu;
      </script>

      <!-- Context menu -->
      <div class="ContextMenu" id="contextMenu">
        <ul>
          <li>Delete</li>
        </ul>
      </div>

      <h2>Title</h2>
      <form action="/games/{{game.ID}}/setTitle" method="POST">
        <input type="text" name="gameTitle" value="{{game.title}}">
        <input type="submit" value="Update">
      </form>

      <div class="Toolbar">
        <h2 class="ToolbarTitle">Levels</h2>
        <a class="FlexAlignRight InvisibleLink" href="/games/{{game.ID}}/levels/new">
          <p class="ToolbarItem BigButton">+</p>
        </a>
      </div>

      <!-- Level list -->
      <table border="1">
        <!-- Header -->
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Floorplan</th>
          <th>Level Editor</th>
          <th>Delete</th>
        </tr>
        <!-- Level list -->
        {% for level in levels %}
          <tr>
            <td>{{level.ID}}</td>
            <td>{{level.name}}</td>
            <td><a href="/games/{{game.ID}}/levels/{{level.ID}}/floorplan/edit">Edit</a></td>
            <td><a href="/games/{{game.ID}}/levels/{{level.ID}}/edit">Launch</a></td>
            <td>
              <form
                method="POST"
                action="/games/{{game.ID}}/levels/{{level.ID}}/delete"
                onsubmit="return confirmDeletion('{{level.name}}');">
                <input type="submit" value="DELETE">
              </form>
            </td>
          </tr>
        {% endfor %}
      </table>

      <!-- Tileset upload form -->
      <form
        id="tilesetForm"
        enctype=multipart/form-data
        action="/games/{{game.ID}}/tilesets/add"
        method="POST"
        style="display:none;">
        <input
          id="tilesetFile"
          style="display:none;"
          type="file"
          name="file" 
          onchange="uploadTilesetFile();">
      </form>

      <!-- Tileset toolbar -->
      <div class="Toolbar">
        <h2 class="ToolbarTitle">Tilesets</h2>
        <p class="FlexAlignRight ToolbarItem BigButton" onclick="selectTilesetFile();">+</p>
      </div>
      

      <!-- Tileset list -->
      {% for tileset in tilesets %}
        <a class="InvisibleLink" href="/games/{{game.ID}}/tilesets/{{tileset.name}}/edit">
          <div class="PreviewThumbnail">
            <img src="{{tileset.getURL()}}" />
          </div>
        </a>
      {% endfor %}

      <!-- Prop upload form -->
      <form
        id="propForm"
        enctype=multipart/form-data
        action="/games/{{game.ID}}/props/add"
        method="POST"
        style="display:none;">
        <input
          id="propFile"
          style="display:none;"
          type="file"
          name="file"
          onchange="uploadPropFile();">
      </form>

      <!-- Props toolbar-->
      <div class="Toolbar">
        <h2 class="ToolbarTitle">Props</h2>
        <p class="FlexAlignRight ToolbarItem BigButton" onclick="selectPropFile();"">+</p>
      </div>

      <!-- Props list -->
      {% for prop in game.getAllProps() %}
        <a class="InvisibleLink" href="/games/{{game.ID}}/props{{prop.name}}/edit">
          <div class="PreviewThumbnail">
            <img src="/{{prop.getPath()}}" />
          </div>
        </a>
      {% endfor %}

      <!-- Characters toolbar -->
      <div class="Toolbar">
        <h2 class="ToolbarTitle">Characters</h2>
        <a class="FlexAlignRight InvisibleLink" href="characters/components/manage">
          <p class="ToolbarItem BigButton">&#9881;</p>
        </a>
        <a class="InvisibleLink" href="/games/{{game.ID}}/characters/new">
          <p class="ToolbarItem BigButton">+</p>
        </a>
      </div>

      <!-- Character list -->
      <!-- TODO -->
      
    </div>
  </body>
</html>