<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css">
  </head>

  <body>
    <div class="CenterDiv MainContainer">
      <h1 class="CenterH">{{game.title}}</h1>

      {% include "messages.html" %}

      <script>
        function confirmDeletion(title) {
          return confirm("Are you sure you want to delete " + title + "?");
        }

        function selectPropFile() {
          document.querySelector('#propFile').click();
        }

        function uploadPropFile() {
          document.querySelector('#propForm').submit();
        }

        function selectTilesetFile(e) {
          document.querySelector('#tilesetFile').click();
        }

        function uploadTilesetFile() {
          document.querySelector('#tilesetForm').submit();
        }

        function showContextMenu(e) {
          const menu = document.querySelector('#contextMenu');
          menu.style.display = 'block';
          return false;
        }
        //window.oncontextmenu = showContextMenu;
      </script>

      <!-- Context menu -->
      <div class="ContextMenu" id="contextMenu">
        <ul>
          <li>Delete</li>
        </ul>
      </div>

      <h2>Title</h2>
      <form action="/games/{{game.ID}}/setTitle" method="POST">
        <input type="text" name="gameTitle" value="{{game.title}}">
        <input type="submit" value="Update">
      </form>

      <h2>Levels</h2>
      <!-- Show a list of levels with an overview -->
      <table border="1">
        <!-- Header -->
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Floorplan</th>
          <th>Level Editor</th>
          <th>Delete</th>
        </tr>
        <!-- Level list -->
        {% for level in levels %}
          <tr>
            <td>{{level.ID}}</td>
            <td>{{level.name}}</td>
            <td><a href="/games/{{game.ID}}/levels/{{level.ID}}/floorplan/edit">Edit</a></td>
            <td><a href="/games/{{game.ID}}/levels/{{level.ID}}/edit">Launch</a></td>
            <td>
              <form
                method="POST"
                action="/games/{{game.ID}}/levels/{{level.ID}}/delete"
                onsubmit="return confirmDeletion('{{level.name}}');">
                <input type="submit" value="DELETE">
              </form>
            </td>
          </tr>
        {% endfor %}
      </table>

      <!-- Add new level -->
      <form
        id="newLevelForm"
        action="/games/{{game.ID}}/levels/new" 
        method="POST"
        style="display:none;">
      </form>
      <center>
        <img
          class="Clickable"
          src="/static/img/addButton.png"
          width="64"
          style="margin-top:20px;"
          onclick="document.querySelector('#newLevelForm').submit();"/>
      </center>

      <h2>Tilesets</h2>
      <!-- Show a list of tilesets with an option to edit -->
      {% for tileset in tilesets %}
        <a class="InvisibleLink" href="/games/{{game.ID}}/tilesets/{{tileset.name}}/edit">
          <div class="PreviewThumbnail">
            <img src="{{tileset.getURL()}}" />
          </div>
        </a>
      {% endfor %}

      <!-- Upload tileset from file -->
      <form
        id="tilesetForm"
        enctype=multipart/form-data
        action="/games/{{game.ID}}/tilesets/add"
        method="POST"
        style="display:none;">
        <input
          id="tilesetFile"
          style="display:none;"
          type="file"
          name="file" 
          onchange="uploadTilesetFile();">
      </form>
      <img class="Clickable" src="/static/img/addButton.png" onclick="selectTilesetFile();"/>

      <h2>Props</h2>
      <!-- Show a list of all props -->
      {% for prop in game.getAllProps() %}
        <a class="InvisibleLink" href="/games/{{game.ID}}/props{{prop.name}}/edit">
          <div class="PreviewThumbnail">
            <img src="/{{prop.getPath()}}" />
          </div>
        </a>
      {% endfor %}

      <!-- Upload prop from file -->
      <form
        id="propForm"
        enctype=multipart/form-data
        action="/games/{{game.ID}}/props/add"
        method="POST"
        style="display:none;">
        <input
          id="propFile"
          style="display:none;"
          type="file"
          name="file"
          onchange="uploadPropFile();">
      </form>
      <img class="Clickable" src="/static/img/addButton.png" onclick="selectPropFile();"/>
      
      <!-- Edit prop -->

      <h2>Characters</h2>
      <!-- Show the name of each character and an animation -->
      <a href="characters/components/manage">Manage character components</a>
      <ul>
      </ul>
      <a href="/games/{{game.ID}}/characters/new"><img src="/static/img/addButton.png" /></a>
    </div>
  </body>
</html>