<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>{{level.name}}</h1>
        <a href="/games/{{game.ID}}/edit">Back</a>

        <!-- Level settings form -->
        <form action="" method="post">
            Name:<br>
            <input value="{{level.name}}" name="name" type="text"><br>
            Width:<br>
            <input value="{{level.width}}" name="width" type="text"><br>
            Height:<br>
            <input value="{{level.height}}" name="height" type="text"><br>
            <input type="submit" value="Update">
        </form>

        <!-- Level overview -->
        
        <!-- Tileset/tile selector -->
        
        <script src="/src/lib/p5.min.js"></script>
        <script src="/src/lib/jquery.min.js"></script>
        <script>

        </script>
    </body>
</html>