<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>{{tileset.fileName}}</h1>
        <a href="/games/{{game.ID}}/edit">Back</a>
        
        <script>
            "use strict";
            var xoff, yoff, tileSize;

            function updateValues() {
                /**
                    Update variables when the form is changed
                **/
                tileSize = max(parseInt(document.querySelector("#size").value), 1);
                xoff = parseInt(document.querySelector("#xoff").value);
                yoff = parseInt(document.querySelector("#yoff").value);
            }
        </script>

        <!-- Config values form -->
        <form method="POST" action="/games/{{game.ID}}/tilesets/{{tileset.name}}/update">
            Tile size:<br>
            <input value="{{tileset.tileSize}}" id="size" type="text" name="size" onchange="updateValues();"><br>
            X offset:<br>
            <input value="{{tileset.xoff}}" id="xoff" type="text" name="xoff" onchange="updateValues();"><br>
            Y offset:<br>
            <input value="{{tileset.yoff}}" id="yoff" type="text" name="yoff" onchange="updateValues();"><br>
            <input type="submit" value="Submit">
        </form>

        <script src="/src/lib/p5.min.js"></script>
        <script>
            "use strict";

            var url = "/{{tileset.path}}";
            var img;
            tileSize = {{tileset.tileSize}};
            document.querySelector("#size").value = tileSize;
            xoff = {{tileset.xoff}};
            document.querySelector("#xoff").value = xoff;
            yoff = {{tileset.yoff}};
            document.querySelector("#yoff").value = yoff;

            function setup() {
                img = loadImage(url);
                createCanvas(1000, 1000);
            }

            
            function draw() {
                background(255);
                image(img, 0, 0);

                stroke(0, 0, 0, 100);
                for (var i = xoff; i <= img.width; i += tileSize) {
                    line(i, yoff, i, img.height);
                }
                for (var i = yoff; i <= img.height; i += tileSize) {
                    line(xoff, i, img.width, i);
                }
            }
        </script>
    </body>
</html>