<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>{{level.name}}</h1>
        <a href="/games/{{game.ID}}/edit">Back</a>

        <!-- Level settings form -->
        <form action="" method="post">
            Name:<br>
            <input value="{{level.name}}" name="name" type="text"><br>
            Width:<br>
            <input value="{{level.width}}" name="width" type="text"><br>
            Height:<br>
            <input value="{{level.height}}" name="height" type="text"><br>
            <input type="submit" value="Update">
        </form>

        <!-- Level overview -->

        <!-- Tileset/tile selector -->
        <button onclick="prevImage();">◀ Prev</button>
        <button onclick="nextImage();">Next ▶</button>
        <br>
        <img id="tilesetImage" />
        <script>
            let tilesetIndex = 0;
            const tilesetImage = document.querySelector("#tilesetImage");
            const tilesetURLs = [];
            {% for tileset in tilesets %}
                tilesetURLs.push('/{{tileset.path}}');
            {% endfor %}

            function updateImage() {
                tilesetImage.src = tilesetURLs[tilesetIndex];
            }
            updateImage();

            function prevImage() {
                tilesetIndex--;
                if (tilesetIndex < 0) {
                    tilesetIndex = tilesetURLs.length - 1;
                }
                updateImage();
            }

            function nextImage() {
                tilesetIndex++;
                if (tilesetIndex > tilesetURLs.length - 1) {
                    tilesetIndex = 0;
                }
                updateImage();
            }


        </script>

        <script src="/src/lib/p5.min.js"></script>
        <script src="/src/lib/jquery.min.js"></script>
        <script>

        </script>
    </body>
</html>