<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    {% include "messages.html" %}

    <script>
        function confirmDeletion(title) {
            return confirm("Are you sure you want to delete " + title + "?");
        }
    </script>

    <h1>{{game.title}}</h1>
    <a href="/games">Back</a>

    <h2>Title</h2>
    <form action="/games/{{game.ID}}/setTitle" method="POST">
        <input type="text" name="gameTitle" value="{{game.title}}">
        <input type="submit" value="Update">
    </form>

    <h2>Levels</h2>
    <!-- Show a list of levels with an overview -->
    <table border="1">
        <!-- Header -->
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Floorplan</th>
            <th>Level Editor</th>
            <th>Delete</th>
        </tr>
        <!-- Level list -->
        {% for level in levels %}
            <tr>
                <td>{{level.ID}}</td>
                <td>{{level.name}}</td>
                <td><a href="/games/{{game.ID}}/levels/{{level.ID}}/floorplan/edit">Edit</a></td>
                <td><a href="/games/{{game.ID}}/levels/{{level.ID}}/edit">Launch</a></td>
                <td>
                    <form
                        method="POST"
                        action="/games/{{game.ID}}/levels/{{level.ID}}/delete"
                        onsubmit="return confirmDeletion('{{level.name}}');">
                        <input type="submit" value="DELETE">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    <!-- Level creator -->
    <form action="/games/{{game.ID}}/levels/new" method="POST">
        <input type="text" name="name" value="New Level">
        <input type="submit" value="Add">
    </form>

    <h2>Tilesets</h2>
    <!-- Show a list of tilesets with an option to edit -->
    <table border="1">
    <ul>
        {% for tileset in tilesets %}
            <li>
                <a href="/games/{{game.ID}}/tilesets/{{tileset.name}}/edit">
                    {{tileset.name}}
                </a>
            </li>
        {% endfor %}
    </ul>

    <!-- Tileset adder -->
    <br>
    <form
        enctype=multipart/form-data
        action="/games/{{game.ID}}/tilesets/add"
        method="POST">
        <input type="file" name="file">
        <input type="submit" value="Add">
    </form>

    <h2>Props</h2>
    <!-- Show a list of all props -->

    <h2>Characters</h2>
    <!-- Show the name of each character and an animation -->
    <ul>
    </ul>
  </body>
</html>