<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        {% include "messages.html" %}

        <script>
            function confirmDeletion(id) {
                return confirm("Are you sure you want to delete " + id + "?");
            }
        </script>

        <h1>Games</h1>
        <a href="/">Back</a>
        <h2>Existing games:</h2>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            {% for game in games %}
                <tr>
                    <td>{{game.ID}}</td>
                    <td>{{game.title}}</td>
                    <td><a href="/games/{{game.ID}}/edit">Edit</a></td>
                    <td>
                        <form
                            method="POST"
                            action="games/{{game.ID}}/delete"
                            onsubmit="return confirmDeletion('{{game.title}}');">
                            <input type="submit" value="DELETE">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <h2>Create a new game:</h2>
        <form action="games/new" method="POST">
            Title of the game:<br>
            <input type="text" name="gameTitle"><br>
            <input type="submit" value="Create!">
        </form>
    </body>
</html>