<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <div class="CenterDiv MainContainer">
      <h1 class="CenterH">Open RPG</h1>

      {% include "messages.html" %}
      
      <h2>About:</h2>
      <p>This is an open-source tool for building RPGs. Contribute <a href="https://github.com/jdsutton/OpenRPG">here</a>.</p>
      
      <h2>Games:</h2>
      <script>
          function confirmDeletion(title) {
              return confirm("Are you sure you want to delete " + title + "?");
          }
      </script>
      <table>
        <!-- Header -->
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>

        <!-- Rows -->
        {% for game in games %}
          <tr>
            <td>{{game.ID}}</td>
            <td>{{game.title}}</td>
            <td><a href="/games/{{game.ID}}/edit">Edit</a></td>
            <td>
              <form
                method="POST"
                action="games/{{game.ID}}/delete"
                onsubmit="return confirmDeletion('{{game.title}}');">
                <input type="submit" value="DELETE">
              </form>
            </td>
          </tr>
        {% endfor %}
      </table>

      <h2>Create a new game:</h2>
      <form action="games/new" method="POST">
        Title of the game:<br>
        <input type="text" name="gameTitle" value="New Game"><br>
        <input type="submit" value="Create!">
      </form>
    </div>
  </body>
</html>