<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>
  <body>
    <div class="CenterDiv MainContainer">
      <h1 class="CenterH">Open RPG</h1>

      {% include "messages.html" %}
      
      <h2>About:</h2>
      <p>This is an open-source tool for building RPGs. Contribute <a href="https://github.com/jdsutton/OpenRPG">here</a>.</p>
      
      <h2>Games:</h2>
      <script>
        function confirmDeletion(title) {
          return confirm("Are you sure you want to delete " + title + "?");
        }
      </script>
      <table>
        <!-- Header -->
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>

        <!-- Rows -->
        {% for game in games %}
          <tr>
            <td>{{game.ID}}</td>
            <td>{{game.title}}</td>
            <td><a href="/games/{{game.ID}}/edit">Edit</a></td>
            <td>
              <form
                id="deleteGame{{game.ID}}Form"
                method="POST"
                action="games/{{game.ID}}/delete"
                style="display:none;"
                onsubmit="return ;">
              </form>
              <a onclick="if (confirmDeletion('{{game.title}}')) {
                document.querySelector('#deleteGame{{game.ID}}Form').submit();
              }">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </table>

      <!-- Create new game button-->
      <form
        id="newGameForm"
        enctype=multipart/form-data
        action="/games/new"
        method="POST"
        style="display:none;">
      </form>
      <center>
        <img
          class="Clickable"
          src="/static/img/addButton.png"
          width="64"
          style="margin-top:20px;"
          onclick="document.querySelector('#newGameForm').submit();"/>
      </center>
    </div>
  </body>
</html>