<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css">
  </head>

  <body>
    
    <div class="CenterDiv MainContainer">
      <h1>Character Component Manager</h1>

      <div>
        <h3 class="ToggleListTitle">Bin 1<button class="ToggleListButton">-</button></h3>
        <ul class="ToggleList">
          <li>Component 1</li>
          <li>Component 2</li>
        </ul>
      </div>

      <div>
        <h3 class="ToggleListTitle">Bin 2<button class="ToggleListButton">-</button></h3>
        <ul class="ToggleList">
          <li>Component 3</li>
          <li>Component 4</li>
        </ul>
      </div>

    </div>

    <script src='/src/ToggleList.js'></script>
  </body>
</html>