<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css">
  </head>

  <body>
    
    <div class="CenterDiv MainContainer">
      <h1>Character Component Manager</h1>

      {% include "messages.html" %}

      {% for bin in bins %}
        <div>

          <h3 class="ToggleListTitle">
            <button class="ToggleListButton">X</button>
            <p>{{bin.name}}</p>
            <button class="ToggleListButton ToggleButton">-</button>
          </h3>
          <!-- Collapsable content -->
          <ul class="ToggleList">
            <!-- Components -->
            {% for component in bin.getAllComponents() %}
              {% if not component.hasImage() %}
                <div style="display: inline-block;">
                  <button class="BigButton">?</button>
                  <div>
                    <button class="BigButton SmallSquare">
                      <img width="32px" src="/static/img/link_symbol.svg" />
                    </button>
                    <button class="BigButton SmallSquare">
                      <img width="32px" src="/static/img/upload_icon.svg" />
                    </button>
                  </div>
                </div>
              {% endif %}
            {% endfor %}

            <!-- Add button -->
            <a class="InvisibleLink" href="/games/{{gameID}}/characters/componentBins/{{bin.ID}}/components/create">
              <button class="BigButton">+</button>
            </a>
          </ul>
        </div>
      {% endfor %}

      <a class="InvisibleLink" href="/games/{{gameID}}/characters/componentBins/create">
        <button class="BigButton">+</button>
      </a>

    </div>

    <script src='/src/ToggleList.js'></script>
  </body>
</html>