<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/style.css">
  </head>

  <body>
    
    <div class="CenterDiv MainContainer">
      <h1>Character Component Manager</h1>

      {% include "messages.html" %}

      {% for bin in bins %}
        <div>
          <h3 class="ToggleListTitle">{{bin.name}}<button class="ToggleListButton">-</button></h3>
          <ul class="ToggleList">
            <li>Component 1</li>          
            <li>
              <a class="InvisibleLink" href="/games/{{gameID}}/characters/componentBins/{{bin.ID}}/components/create">
              <p class="BigButton">+</p>
              </a>
            </li>
          </ul>
        </div>
      {% endfor %}

      <a class="InvisibleLink" href="/games/{{gameID}}/characters/componentBins/create">
        <p class="BigButton">+</p>
      </a>

    </div>

    <script src='/src/ToggleList.js'></script>
  </body>
</html>